<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<body>

<%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

    <div class="tituloEnvios">FORMAS DE ENVÍO <i class="fas fa-plane-departure"></i></div>

    <div class="bodyEnvios">
        
        <p><div><u>ENVÍO A DOMICILIO ESTÁNDAR</u></div>
        <div>Envío a todo el país.</div>
        <div>En compras mayores a $30.000 el envío es GRATIS; en compras menores a $30.000 el envío tiene costo. Podes consultarlo colocando el código postal en la página del producto.</div>
        <div>El plazo de entrega de los envíos estándar es de 3 a 12 días hábiles desde su despacho, dependiendo de la localidad.</div>
        </p>

        <p><div><u>RETIRO EN SUCURSAL DE CORREO</u></div>
        <div>Podés retirar tu compra en las sucursales de correo habilitadas de Oca y Andreani. Para ver las opciones disponibles ingresá tu código postal en la páguna del producto.</div>
        <div>El plazo de entrega de los envíos estándar es de 3 a 12 días hábiles, dependiendo de la localidad.</div>
        <div>El pedido permanecerá en la sucursal durante 5 días corridos. Superando este plazo el paquete ingresará en devolución a SPORTLINE.</div>
        </p>

        <p><div><u>ENVÍO A DOMICILIO EXPRESS</u></div>
        <div>Modalidad de envío válida únicamente para CABA y GBA en productos seleccionados.</div>
        <div>Los envíos pueden demorar hasta 48hs hábiles, dependiendo del horario de la compra y del código postal.</div>
        </p>

        <p><div><u>RETIRO EN SUCURSAL</u></div>
        <div>Podés retirar tu compra en nuestras sucursales, sin costo.</div>
        <div>Serás notificado vía email cuando el pedido esté disponible para retirar.</div>
        <div>El comprador registrado en www.sportonline.com.ar deberá concurrir con DNI y número de pedido, dentro de los 30 días corridos a partir de la notificación de retiro. Superado ese lapso el pedido ingresa en devolución a SPORTLINE.</div>
        </p>

    </div>

    <div class="estamos">SportsOnline, estamos donde vos estés...</div>

<%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

</body>
</html>