<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<body>

<%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

    <div class="tituloPreguntas">PREGUNTAS FRECUENTES <i class="fas fa-brain"></i></div>

    <div class="bodyPreguntas">
        <li type= "None"><u>¿TENGO QUE REGISTRARME ANTES DE COMPRAR?</u></li>
            <ul>Si, podés hacerlo ingresando haciendo click <a href="/users/register">aqui.</a></ul>
                
        <li type= "None"><u></u>¿CUAL ES EL COSTO DEL ENVIO?</u></li>
            <ul>
                <div>Si retiras tu compra en sucursal de SportsOnline NO tiene gasto de envío para todos los importes..</div>
                <div>Si tu compra es de más de $10.000, no abonás gastos de envío</div> 
                <div>En caso de compras menores o iguales a $9.999, el gasto es de $400 para servicio puerta a puerta</div>
                <div>$280 para retiro en sucursal del correo</div>
                <div>Cambios o Devoluciones: los gastos de envío, ida y vuelta, quedan a cargo del cliente.</div>
            </ul>
        
        <li type= "None"><u>¿CUAL ES LA DEMORA DEL ENVIO?</u></li>
            <ul>
                <div>El proceso de preparación y despacho de la compra tiene un lapso de hasta tres (3) días hábiles.</div>
                <div>Una vez despachado, el envío puede demorar: </div>
                <div>CABA y AMBA hasta 2 días*</div>
                <div>Ciudades Capitales hasta 4 días*</div>
                <div>Resto del país hasta 8 días*</div>
                <div>*días hábiles desde el momento del despacho</div>
            </ul>
        
        <li type="None"><u>¿CUALES SON LAS FORMAS DE PAGO DISPONIBLES?</u></li>      
            <ul>Tarjeta de crédito/débito/dinero en cuenta - a través de MercadoPago www.sportsOnline.com.ar/promociones-de-compras</ul>

        <li type="None"><u>¿ES NECESARIO VERIFICAR MI COMPRA?</u></li>
            <ul>
                <div>No es necesaria la confirmación de tu pedido.</div>
                <div>En caso de tener dudas o consultas, comunicate con nuestro Centro de Atención al Cliente: 0-800-222-7656</div>
            </ul>

        <li type="None"><u>¿QUIEN PUEDE RECIBIR MI COMPRA?</u></li>
            <ul>Cualquier persona en el domicilio de entregar, mayor de 18 años podrá recibir tu compra.</ul>

        <li type="None"><u>¿COMO PUEDO HACER EL SEGUIMIENTO DE MI COMPRA?</u></li>
            <ul>Podés seguir tu pedido una vez despachado del paquete con el número de guía que recibirás en tu correo electrónico.</ul>     
    </div>
    
    <div class="estamos">SportsOnline, estamos donde vos estés...</div>

<%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

</body>
</html>