<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<body>

<%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

    <main>

        <h1>PREGUNTAS FRECUENTES</h1>

        <li type= "None">¿TENGO QUE REGISTRARME ANTES DE COMPRAR?</li>
        <li>Si, podés hacerlo ingresando haciendo click <a href="/users/register">aqui.</a></li>
        
        <br>
        
        <li type= "None">¿CUAL ES EL COSTO DEL ENVIO?</li>
        <li>Si retiras tu compra en sucursal de SportsOnline NO tiene gasto de envío para todos los importes.. </li>
        <li>Si tu compra es de más de $10.000, no abonás gastos de envío</li> 
        <li>En caso de compras menores o iguales a $9.999, el gasto es de $400 para servicio puerta a puerta</li>
        <li>$280 para retiro en sucursal del correo</li>
        <li>Cambios o Devoluciones: los gastos de envío, ida y vuelta, quedan a cargo del cliente.</li>
        
        <br>
        
        <li type= "None">¿CUAL ES LA DEMORA DEL ENVIO?</li>
        <li>El proceso de preparación y despacho de la compra tiene un lapso de hasta tres (3) días hábiles.</li>
        <li>Una vez despachado, el envío puede demorar: </li>   
        <li>CABA y AMBA hasta 2 días*</li>
        <li>Ciudades Capitales hasta 4 días*</li>
        <li>Resto del país hasta 8 días*</li>
        <li>*días hábiles desde el momento del despacho</li>
        
        <br>
        
        <li type="None">¿CUALES SON LAS FORMAS DE PAGO DISPONIBLES?</li>      
        <li>Tarjeta de crédito/débito/dinero en cuenta - a través de MercadoPago www.sportsOnline.com.ar/promociones-de-compras</li>
        
        <br>

        <li type="None">¿ES NECESARIO VERIFICAR MI COMPRA?</li>
        <li>No es necesaria la confirmación de tu pedido.</li> 
        <li>En caso de tener dudas o consultas, comunicate con nuestro Centro de Atención al Cliente: 0-800-222-7656</li>
            
        <br>

        <li type="None">¿QUIEN PUEDE RECIBIR MI COMPRA?</li>
        <li>Cualquier persona en el domicilio de entregar, mayor de 18 años podrá recibir tu compra.</li>
        
        <br>

        <li type="None">¿COMO PUEDO HACER EL SEGUIMIENTO DE MI COMPRA?</li>
        <li>Podés seguir tu pedido una vez despachado del paquete con el número de guía que recibirás en tu correo electrónico.</li>
        
        <br>
        <br>
        
            <h3>SportsOnline…estamos donde vos estes</h3>
    </main>

<%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

</body>
</html>