<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

    <h1 class="tituloSomos">QUIENES SOMOS <i class="fas fa-running"></i></h1>

    <div class="bodyQuienesSomos">
        <p> SportsOnline es una empresa que nació en el año 2021, en un momento de mucha transformación, potenciando las ventas 
        online y la distribución a domicilio. Su (por el momento) única sede, se encuentra ubicada en la provincia de Buenos Aires,
        ciudad de San Miguel, Muñiz.</p>
        
        <p>Con mucho trabajo se transformó en lo que es hoy, una cadena de indumentaria, calzado y accesorios deportivos, líder
        en ventas online.</p>
        
        <p>Ofrece también elementos de entrenamiento para continuar entrenando desde casa, artículos de futbol, tenis, paddle, running, hockey, training y voley. </p>
    
        <p>SportsOnline cuenta con el confort y la atención que sus clientes se merecen, para que se sientan como en su casa,
        acompañados de artículos de alta tecnología deportiva de las más importantes marcas. </p>
        
        <p>Todo para vivir el deporte en un solo lugar. Contribuye a la compra online para que más personas puedan tener 
        acceso a productos deportivos, a un precio justo y de buena calidad desde la comodidad de su hogar.</p>
        
        <p>SportsOnline se esfuerza por ser el líder mundial en la industria de los artículos deportivos con marcas construidas 
        sobre la pasión por deportes y un estilo de vida deportivo. Estamos comprometidos a fortalecer continuamente nuestras
        marcas y productos para mejorar nuestra posición competitiva.</p>
        
        <p>Misión:
        Vivimos entrenando para ganar y conquistar a los consumidores ofreciendo una experiencia premium. Hablamos a través del
        deporte y de la moda con el objetivo de acompañarlos en cada momento de sus vidas para que puedan competir, entrenar 
        o lucir su estilo personal, transmitiendo inspiración e innovación.</p>
        
        <p>Visión:
        Ser el retailer líder en ventas y en servicio al cliente, siendo siempre cercano al consumidor. El énfasis de SportsOnline 
        está en la posición de liderazgo que la empresa busca al dominar el mercado como la empresa más buscada del sector. La 
        dirección también incorpora valores fundamentales para asegurar que los trabajadores operen en un ambiente que favorezca 
        el logro de los objetivos en línea con la misión y la declaración de visión.</p>
        
    </div>
        
    <div class="estamos">SportsOnline, estamos donde vos estés...</div>

<%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

</html>