<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

    <h1 class="tituloSucursales">NUESTRAS SUCURSALES <i class="fas fa-store"></i></h1>
      
    <div class="sucursalBody">
        <div class="local">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26287.448354714477!2d-58.72465141809737!3d-34.55530125579985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbda6990007db%3A0x600454389e2a89ad!2sMu%C3%B1iz%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1663094603497!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="direccionLocal">
            <p>UBICACIÓN</p>
            <dl>
                <dt>DIRECCION:</dt>
                    <div>Angel D'Elia 2000</div>
                    <div>San Miguel, Muñiz</div>
            </dl>     
            <dl>
                <dt>HORARIOS DE ATENCION:</dt>
                    <div>Lun a Vie de 9 a 20 Hs</div>
                    <div>Sab de 9 a 13 Hs</div>
        </div>
    </div>
        
    <div class="estamos">SportsOnline, estamos donde vos estés...</div>

<%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

</html>