<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<body>

<%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

    <main>

        <h1>NUESTRAS SUCURSALES</h1>

        <br>
        
        <div class="sucursal">
            <div class="local">
                <a href="https://www.google.com/maps/place/San+Rafael,+Mendoza/@-34.6162515,-68.3405987,16z/data=!4m5!3m4!1s0x967907fdb13d06a7:0xe0fb2796d473309d!8m2!3d-34.6128922!4d-68.3390622"><img src="\img\mapa.jpg" alt="mapa"></a>
            </div>
            <div class="direccionLocal">
                <p>MENDOZA</p>
                
                <p>Direccion: Avenida 9 de Julio 177,</p>
                <p>San Rafael, Mendoza</p>
                
                <p>Horario de atencion:
                Lun a Sab de 9 a 20 Hs</p>
            </div>
        </div>
        
        <br>
         
            <h3>SportsOnline…estamos donde vos estes</h3>
    </main>

<%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

</body>
</html>