<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

    <h1 class="tituloTerminos">TÉRMINOS Y CONDICIONES <i class="fas fa-gavel"></i></h1>

    <div class="bodyTerminos">

        <p><div><u>Condiciones Generales:</u></div>
        <div>Este contrato describe los Términos y Condiciones Generales (en adelante, los “Términos y Condiciones”) que se aplicarán para la navegación del sitio web www.sportsonline.com, y los servicios ofrecidos en él (en adelante, el “website”). La responsabilidad del uso y los derechos del website son de SportsOnline (en adelante, “SportsOnline”) CUIT: 30-12345678-3.</div>
        </p>
        
        <p><div><u>Aceptación y conocimiento de los Términos y Condiciones:</u></div>
        <div>Cualquier persona (en adelante, “Usuario” o en plural “Usuarios”) que desee acceder y/o utilizar el website o sus servicios, podrá hacerlo sujetándose a los Términos y Condiciones, junto con todas las demás políticas y principios que rigen, y que son incorporados al presente.</div>
        </p>
        
        <p><div>Los presentes Términos y Condiciones tienen carácter obligatorio y vinculante para las partes. Se aplican a todas las compras y actividades realizadas en el website. El uso del website implica el conocimiento y la aceptación de todos ellos.</div>
        </p>

        <p><div>Las personas que no acepten estos Términos y Condiciones, los cuales tienen carácter vinculante y obligatorio, se deberá abstener de utilizar el sitio web.</div>
        </p>
    </div>

    <div class="estamos">SportsOnline, estamos donde vos estés...</div>

    <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->
    
    </html>