<!DOCTYPE html>

<html>
    <%- include('../partials/head.ejs') %> <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->
    <body>
        <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

            <h1>Carrito de Compras <i class="fas fa-shopping-cart"></i></h1>
                
                <div class="carritoBody">
                    <table class="tableCart">  <!-- Etiqueta para crear una tabla -->
                        <thead class="tableHead">   <!-- Etiqueta para valores superiores de la tabla -->
                            <tr>   <!-- Etiqueta para valores Table Row (fila) -->
                                <th scope="col" colspan="2">PRODUCTO</th> <!-- coldspan es para la cantidad de columnas que abarcara -->
                                <th scope="col">PRECIO UNITARIO</th>
                                <th scope="col">CANTIDAD</th>
                                <th scope="col">SUBTOTAL</th>
                                <th scope="col">ELIMINAR</th>
                            </tr>
                        </thead>
                            <tbody>   <!-- Etiqueta para el cuerpo de la tabla (los productos agregados) -->
                            
                            </tbody>
                    </table>
                </div>


        <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->
    </body>
</html>