<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">  <!-- Reconoce diferentes tipos de letras, idiomas y caracteres-->
        <meta name="viewport"content="width=device-width">  <!-- Es para que el sitio sea responsive (se adapte a diferentes dispositivos) -->
        <h1><title SPORTS ONLINE></title></h1>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=MonteCarlo&family=WindSong:wght@500&display=swap" rel="stylesheet">
        
        <link href="\css\normalize.css">  <!--  VER PARA QUE ERA CON JAVI HERRERA!! -->
        <link rel="stylesheet" href="\css\login.css"> <!-- vinculacion del HTML con el CSS -->
        <script src="https://kit.fontawesome.com/d4ee5988c7.js" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> 
    </head>

<body>

<header>
    <div class="main-header">

        <div class="caja-logo">
            <img src = "\images\SportsOnline.jpeg" alt= "Logo de SportsOnline" class="logo">
        </div>

        <div class="caja-envios">
<h2 class="copy-header">Envíos gratis a todo el país, en compras superiores a $10.000 <i class="fas fa-truck"></i></h2>
</div>

<div class="caja-busqueda">
    <ul class="right-navbar" type="None">
        <li><a href="\registro">Crear cuenta</a></li>
        <li><a href="\login">Iniciar sesión</a></li>
        <li><a href="\carrito"><i class="fas fa-shopping-cart"></i></a></li>  <!-- carrito de compras -->
    </ul>

<nav class="barra-de-busqueda">
<input type="search" placeholder="Buscar productos, marcas y más"> <i class="fas fa-search"></i> 
</nav>
</div>
</div>

<div class="caja-categorias">
    <ul class="categorias" type="None">
        <li><a href="">Categorías</a></li>
        <li><a href="">Hombre</a></li>
        <li><a href="">Mujer</a></li>
        <li><a href="">Niños</a></li>
        <li><a href="">Novedades</a></li>
        <li><a href="">Ofertas</a></li>
    </ul>
</div>
</header>

<form action="/home.html" method="POST" class="formularioLog">
    <div class="inicioSesion">
    <h2>Iniciar sesión</h2>
    </div>

    <div class="control-formulario">
    <label for="nombreUsuario">Usuario</label>
    <input type="text" name="nombreUsuario" id="nombreUsuario" class="control-especifico">
    </div>
    
    <div class="control-formulario">
    <label for="contraseña">Contraseña</label>
    <input type="password" name="contraseña" id="contraseña" class="control-especifico">
    </div>

    <div class="olvido">
        <a href="">¿Olvidaste tu contraseña?</a>
    </div>
    
    <div class="login">
    <button type="submit" class="botones">Ingresar</button>
    </div>

    <div class="loginFacebook">
    <button type="submit" class="botonFace"><i class="fab fa-facebook"></i> | Ingresar con Facebook</button>
    </div>

    <div class="loginGoogle">
    <button type="submit" class="botonGoogle"><i class="fab fa-google"></i> | Ingresar con Google</button>
    </div>

    <div class="crearCuenta">
    <a href="\register.html">Crea tu cuenta</a>
    </div>
    </form>

    <footer>
        <div class="cajas-footer">
    
        <div>
        <ul type= "None">
        <li class= "sports-online">SPORTS ONLINE</li>
        <li class="parte1"><a href="">Quiénes somos</a></li>
        <li class="parte1"><a href="">Sucursales</a></li>
        <li class="parte1"><a href="">Trabajá con nosotros</a></li>
    </ul>
    </div>
    
    <div class="">
        <ul type= "None">
        <li class="ayuda">AYUDA</li>
       <li class="parte1"><a href="">Preguntas frecuentes</a></li>
       <li class="parte1"><a href="">Entregas y cambios</a></li>     
        </ul>
    </div>
    
    <div>
        <ul type= "None">
        <li class= "atencionCliente">ATENCIÓN AL CLIENTE</li>
          <li class="parte1"><i class="fas fa-phone-alt"></i>  9 11 5978 8100</li>
          <li class="parte1">Lun. a Vie. de 9 a 20 Hs.</li>
          <li class="parte1">Sábados de 9 a 13 Hs.</li>
    </ul>
    </div>
    
    <div>
        <ul type= "None">
        <li class= "redes">SEGUINOS!</li>
        <a href=""><i class="fab fa-facebook-square"></a></i>
        <a href=""><i class="fab fa-instagram"></a></i>
        <a href=""><i class="fab fa-twitter-square"></a></i>
    </ul>
    </div>
    </div>
    
    <div class="cajas-footer2">
    <div>
        <ul type="None" class="politica">
            <li><a href="">Política de privacidad</a></li>
        </ul>
    </div>
    
    <div>
        <ul type="None" class="termino">
            <li><a href="">Términos y condiciones</a></li>
        </ul>
    </div>
    
    <div>
    <ul type="None" class="copy">
        <li>Copyright © 2019-2021 SportsOnline S.R.L.</li>
    </ul>
    </div>
    </div>
    
    </footer>

</body>
</html>