<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\productDetails.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css\normalize.css"/>
    <script src="https://kit.fontawesome.com/f519fb565c.js" crossorigin="anonymous"></script>
    <title>Detalle</title>
    
</head>
<header>
    <div class="main-header">

        <div class="caja-logo">
            <img src = "\images\SportsOnline.jpeg" alt= "Logo de SportsOnline" class="logo">
        </div>

        <div class="caja-envios">
<h2 class="copy-header">Envíos gratis a todo el país, en compras superiores a $10.000 <i class="fas fa-truck"></i></h2>
</div>

<div class="caja-busqueda">
    <ul class="right-navbar" type="None">
        <li><a href="\registro">Crear cuenta</a></li>
        <li><a href="\login">Iniciar sesión</a></li>
        <li><a href="\carrito"><i class="fas fa-shopping-cart"></i></a></li>  <!-- carrito de compras -->
    </ul>

<nav class="barra-de-busqueda">
<input type="search" placeholder="Buscar productos, marcas y más"> <i class="fas fa-search"></i> 
</nav>
</div>
</div>

<div class="caja-categorias">
    <ul class="categorias" type="None">
        <li><a href="">Categorías</a></li>
        <li><a href="">Hombre</a></li>
        <li><a href="">Mujer</a></li>
        <li><a href="">Niños</a></li>
        <li><a href="">Novedades</a></li>
        <li><a href="">Ofertas</a></li>
    </ul>
</div>
</header>
<body>
    <div class="cuerpo-detalle">
        <div class="imagen-detalle">
            <img class="detalle-imagen" src="\images\Zapatilla.jpeg" alt="Zapatilla" >
            <div class="opciones_imagen">
                <img class="imagenes_opcion" src="\images\Zapatilla.jpeg" alt="Zapatilla">
                <img class="imagenes_opcion" src="\images\Zapatilla.jpeg" alt="Zapatilla">
                <img class="imagenes_opcion" src="\images\Zapatilla.jpeg" alt="Zapatilla">
                <img class="imagenes_opcion" src="\images\Zapatilla.jpeg" alt="Zapatilla">
            </div>

        </div>
        <div class="descripcion-producto">
            <div>Nombre del producto: Zapatillas Nike Court Vision Low</div>
            <div>$800</div>
            <div>Descripción corta del producto</div>
            <div class="color">
                <div>Color:</div>
                <div>blanca</div>
                <div class="circulo_color"></div>
            </div>
            <div>Talla</div>
            <div class="tallas">
                <div class="cuadros">ECH</div>
                <div class="cuadros">CH</div>
                <div class="cuadros">M</div>
                <div class="cuadros">G</div>
                <div class="cuadros">EG</div>
            </div>
            <div class="a_carrito">
                <select class="cantidad_carrito">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <button type="submit" class="mandar_carrito">
                    <img class="imagen_carrito" src="images\pngwing.com.png" alt="carrito">
                    Agregar a carrito
                </button>
            </div>

        </div>
    </div>
    
</body>
<footer>
    <div class="cajas-footer">

    <div>
    <ul type= "None">
    <li class= "sports-online">SPORTS ONLINE</li>
    <li class="parte1"><a href="">Quiénes somos</a></li>
    <li class="parte1"><a href="">Sucursales</a></li>
    <li class="parte1"><a href="">Trabajá con nosotros</a></li>
</ul>
</div>

<div class="">
    <ul type= "None">
    <li class="ayuda">AYUDA</li>
   <li class="parte1"><a href="">Preguntas frecuentes</a></li>
   <li class="parte1"><a href="">Entregas y cambios</a></li>     
    </ul>
</div>

<div>
    <ul type= "None">
    <li class= "atencionCliente">ATENCIÓN AL CLIENTE</li>
      <li class="parte1"><i class="fas fa-phone-alt"></i>  9 11 5978 8100</li>
      <li class="parte1">Lun. a Vie. de 9 a 20 Hs.</li>
      <li class="parte1">Sábados de 9 a 13 Hs.</li>
</ul>
</div>

<div>
    <ul type= "None">
    <li class= "redes">SEGUINOS!</li>
    <a href=""><i class="fab fa-facebook-square"></a></i>
    <a href=""><i class="fab fa-instagram"></a></i>
    <a href=""><i class="fab fa-twitter-square"></a></i>
</ul>
</div>
</div>

<div class="cajas-footer2">
<div>
    <ul type="None" class="politica">
        <li><a href="">Política de privacidad</a></li>
    </ul>
</div>

<div>
    <ul type="None" class="termino">
        <li><a href="">Términos y condiciones</a></li>
    </ul>
</div>

<div>
<ul type="None" class="copy">
    <li>Copyright © 2019-2021 SportsOnline S.R.L.</li>
</ul>
</div>
</div>

</footer>
</html>