<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <tittle>Carrito</tittle>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="\css\productCart.css">
    <script src="https://kit.fontawesome.com/f519fb565c.js" crossorigin="anonymous"></script>
    <title>Carrito</title>
</head>
<body>
    <header>
        <div class="main-header">
    
            <div class="caja-logo">
                <img src = "\images\SportsOnline.jpeg" alt= "Logo de SportsOnline" class="logo">
            </div>
    
            <div class="caja-envios">
    <h2 class="copy-header">Envíos gratis a todo el país, en compras superiores a $10.000 <i class="fas fa-truck"></i></h2>
    </div>
    
    <div class="caja-busqueda">
        <ul class="right-navbar" type="None">
            <li><a href="\registro">Crear cuenta</a></li>
            <li><a href="\login">Iniciar sesión</a></li>
            <li><a href="\carrito"><i class="fas fa-shopping-cart"></i></a></li>  <!-- carrito de compras -->
        </ul>
    
    <nav class="barra-de-busqueda">
    <input type="search" placeholder="Buscar productos, marcas y más"> <i class="fas fa-search"></i> 
    </nav>
    </div>
    </div>
    
    <div class="caja-categorias">
        <ul class="categorias" type="None">
            <li><a href="">Categorías</a></li>
            <li><a href="">Hombre</a></li>
            <li><a href="">Mujer</a></li>
            <li><a href="">Niños</a></li>
            <li><a href="">Novedades</a></li>
            <li><a href="">Ofertas</a></li>
        </ul>
    </div>
    </header>
    <div class="resumen">
        <img class="imagen-producto" src="\images\Zapatilla.jpeg" alt="producto" >
        <div>
            <div class= "carrito-datos">Nombre del producto: Zapatillas Nike Court Vision Low</div>
            <button id="borrar" onclick="remove_child()">Eliminar</button>

        </div>
        <div class="pos">
            <div class= "carrito-dato">Forma de entrega</div>
            <div class= "carrito-dato">Entrega a domicilio</div>
            <div class= "carrito-dato">Día de entrega</div>
        </div>
        <div class="pos">
            <div class= "carrito-dato">Precio</div>
            <div class= "carrito-dato"> $800</div>
        </div>
        <div class="pos">
            <div class= "carrito-dato">Cantidad</div>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="pos">
            <div class= "carrito-dato">Total</div>
            <div class= "carrito-dato"> $1700</div>
        </div>
    </div>
    <div class="e">
        <div class="Datos-resumen">
            <img class = "min" src="images\tel.png" alt="tel">
            Teléfono: 482-456-935</div>
        <div class="resumen-de-compra">
            <div>Resumen de compras</div>
            <label>Subtotal
                <div class="espacio">$1600</div>
            </label>
            <label>Envio  
                <div class="espacio">$100</div>
            </label>
            <label>Total  
                <div class="espacio">$1700</div>
            </label>
            <div class="pagar">
                <div>Pagar</div>
            </div>
        </div>
        
    </div>
</body>
<footer>
    <div class="cajas-footer">

    <div>
    <ul type= "None">
    <li class= "sports-online">SPORTS ONLINE</li>
    <li class="parte1"><a href="">Quiénes somos</a></li>
    <li class="parte1"><a href="">Sucursales</a></li>
    <li class="parte1"><a href="">Trabajá con nosotros</a></li>
</ul>
</div>

<div class="">
    <ul type= "None">
    <li class="ayuda">AYUDA</li>
   <li class="parte1"><a href="">Preguntas frecuentes</a></li>
   <li class="parte1"><a href="">Entregas y cambios</a></li>     
    </ul>
</div>

<div>
    <ul type= "None">
    <li class= "atencionCliente">ATENCIÓN AL CLIENTE</li>
      <li class="parte1"><i class="fas fa-phone-alt"></i>  9 11 5978 8100</li>
      <li class="parte1">Lun. a Vie. de 9 a 20 Hs.</li>
      <li class="parte1">Sábados de 9 a 13 Hs.</li>
</ul>
</div>

<div>
    <ul type= "None">
    <li class= "redes">SEGUINOS!</li>
    <a href=""><i class="fab fa-facebook-square"></a></i>
    <a href=""><i class="fab fa-instagram"></a></i>
    <a href=""><i class="fab fa-twitter-square"></a></i>
</ul>
</div>
</div>

<div class="cajas-footer2">
<div>
    <ul type="None" class="politica">
        <li><a href="">Política de privacidad</a></li>
    </ul>
</div>

<div>
    <ul type="None" class="termino">
        <li><a href="">Términos y condiciones</a></li>
    </ul>
</div>

<div>
<ul type="None" class="copy">
    <li>Copyright © 2019-2021 SportsOnline S.R.L.</li>
</ul>
</div>
</div>

</footer>
</html>