.mainDetalle{
    background-color: white;
}


.CajaMasterDetalle{
    display: flex; /* se manejan con flex */
    width: 100%; /* ancho */
    height: 100%; /* alto */
    border:solid black 10px;
    flex-grow: 1;
}

.cajaIzquierda{
    display: flex;
    width: 60%;
    height: 100%;
    border: solid rgb(61, 43, 226) 8px;
    margin-top: auto; /* centra la imagen en el plano vertical */
    margin-bottom: auto; /* centra la imagen en el plano vertical */
    margin-top: auto; /* centra la imagen en el plano vertical */
    margin-bottom: auto; /* centra la imagen en el plano vertical */
}

.cajaDerecha{
    display: flex;
    flex-direction:column;
    width: 40%;
    height: 100%;
    border: solid yellowgreen 8px;
}

.cajaImagenDetalle{
    margin-left: auto; /* centra la imagen en el plano horizontal */
    margin-right: auto; /* centra la imagen en el plano horizontal */
    border: solid rgb(214, 226, 43) 8px;
    height: 100%;
    width: 60%;  /* ocupa el 60% de la caja de la izquierda */
}

.cajaImagenDetalle img{
    width: 650px;   /* al ser imagen se utiliza pixeles */
    height: 650px;  /* al ser imagen se utiliza pixeles */
}

.tituloDeporteDetalle{
    margin-left: 2%;
    font-size: large;
    font-weight: bold;
}

.tituloProductoDetalle{
    margin-left: 2%;
    font-family: Arial black;
    font-size: xx-large;
    font-weight: bolder; /* Letra en negrita */
    border: solid salmon;
}

.precioDetalle{
    margin-top: 1%;
    text-align: left;
    font-family: Franklin Gothic Heavy;
    font-style: italic;
    font-size: xxx-large;
    font-weight: bolder; /* Letra en negrita */
    border: solid green;
    margin-left: 2%; /* Separado un 2% del margen izquierdo de la caja */
}

.tarjetasDetalle{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    text-align: left;
    border: solid rgb(0, 87, 128);
    margin-left: 2%; /* Separado un 2% del margen izquierdo de la caja */
}

.fa-credit-card{
    font-size: 40px;
    align-items: center;
    color: goldenrod;
}

.cuotas {
    font-size: 27px;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 210, 216);
    margin-left: 4%;   
    text-align: center;
    width: 40%;
    border-radius: 15px;
}

.cambio{
    font-size: 20px;
    color: rgb(39, 230, 39);
    margin-left: 2%;
    margin-top: 1%;
}

.InfoDetalle{
    margin-top: 1%;
    text-align: left;
    border: solid rgb(9, 11, 12);
    margin-left: 2%; /* Separado un 2% del margen izquierdo de la caja */
    font-family: Franklin Gothic Heavy;
    font-size: large;
}

.cajaSelectoraDetalle{
    margin-top: 1%;
    margin-left: 2%; /* Separado un 2% del margen izquierdo de la caja */
    border: solid white;
    display: flex;
    flex-direction: row; /* coloca cajas selectoras una al lado de la otra */
}

.talleProducto{
    text-align: center;
    border: solid rgb(9, 11, 12);
    font-family: Franklin Gothic Heavy;
    font-size: large;
    width: 25%;
}

.selectTalleDetalle{
    text-align: center; 
    background-color: rgb(43, 210, 216);  /* colores del select del talle */
    width: 50%;
}

.cajaSelectora { 
    text-align: center;
}

.talleProductoDetalle{
    border: solid rgb(212, 58, 135);
    text-align: center;
    font-family: Franklin Gothic Heavy;
    font-size: large;
    width: 25%;
}

.inputTalleDetalle{
    background-color: rgb(43, 210, 216);
    text-align: center;
    font-family: Franklin Gothic Heavy;
    font-size: large;
    width: 60%;
}

.cajaAgregarProducto{
    width: 100%;
    display: flex;
    align-items: right;
}

.botonAgregarProducto{
    width: 70%;
    font-family: Franklin Gothic Heavy;
    font-size: x-large;
    margin-left: 8%;
    background-color: rgb(0, 187, 125);
}

.cajaAgregarProducto button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(4, 85, 58);
    transform: scale(1);
    border-radius: 50px;
    transition: all 0.6s ease; /* velocidad a la que se abre el campo de busqueda */
}

.compartirRedes{
    margin-left: 2%;
    margin-top: 1%;
    font-size: 20px;
    font-weight: bold;
}

.Redes{
    margin-top: 2px;
}

.cajaEnvioGratis{
    margin-left: 3%;
    margin-top: 1%;
    display: flex;
    background-color: rgb(43, 210, 216);
    color: black;
    width: 45%;
    transform: skew(-15deg);   /* Dobla la caja  */
    padding: 10px 10px 10px 20px;  /* Separacion interna de 20 px a la izquierda (camion) */
}

.cajaEnvio{
    margin-left: 4%;
}

.cajaCamioncito{
    font-size: larger;
}

.promoEnvio{
    font-weight:bold;  /* letra en negrita */
    font-size: larger;
}

.comprasSuperiores{
    color: rgb(0, 0, 0);
}

.especificaciones{
    font-size: 30px;
    font-style: italic;
}

.descripcionDetalle{
    margin-top: 1%;
    border: solid rgb(223, 205, 43);
    margin-left: 2%;
    text-align: left;
    font-family: Franklin Gothic Heavy;
    font-size: large;
    display: flex;
    flex-grow: 1; /* ocupa todo el espacio disponible */
}

.BotonDeEdición{
    font-family: Franklin Gothic Heavy;
    font-size: x-large;
    margin-left: 2%;
}
