.mainDetalle{
    background-color: white;
}
.CajaMasterDetalle{
    display: flex; /* se manejan con flex */
    width: 90%; /* ancho */
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.cajaIzquierda{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: auto; /* centra la imagen en el plano vertical */
    margin-bottom: auto; /* centra la imagen en el plano vertical */
    margin-top: auto; /* centra la imagen en el plano vertical */
    margin-bottom: auto; /* centra la imagen en el plano vertical */
}
.cajaDerecha{
    display: flex;
    flex-direction:column;
    width: 45%;
    background-color: #e0e0e0c4;
    padding: 0.5%;
    border-radius: 15px;
}
.cajaImagenDetalle{
    margin-left: auto; /* centra la imagen en el plano horizontal */
    margin-right: auto; /* centra la imagen en el plano horizontal */
    width: 80%;  /* ocupa el 60% de la caja de la izquierda */
}
.cajaImagenDetalle img{
    width: 100%;   
    max-width: auto;
}
.tituloDeporteDetalle{
    margin-left: 2%;
    font-size: large;
    font-weight: bold;
}
.tituloProductoDetalle{
    margin-left: 2%;
    font-family: Paytone One;
    font-size: xx-large;
    font-weight: bolder; /* Letra en negrita */
}
.precioDetalle{
    margin-top: 1%;
    text-align: left;
    font-family: Franklin Gothic Heavy;
    font-style: italic;
    font-size: xxx-large;
    font-weight: bolder; /* Letra en negrita */
    margin-left: 2%; /* Separado un 2% del margen izquierdo de la caja */
}
.tarjetasDetalle{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 2%; /* Separado un 2% del margen izquierdo de la caja */
    align-items: center;
}
.fa-credit-card{
    font-size: 40px;
    align-items: center;
    color: goldenrod;
}
.cuotas {
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color:  #73ecf7;
    margin-left: 4%;   
    text-align: center;
    width: 35%;
    border-radius: 15px;
}
.cambio{
    font-size: 20px;
    color: rgb(39, 230, 39);
    margin-left: 2%;
    margin-top: 1%;
    font-weight: bold;
}
.InfoDetalle{
    margin-top: 1%;
    text-align: left;
    margin-left: 2%; /* Separado un 2% del margen izquierdo de la caja */
    font-family: Franklin Gothic Heavy;
    font-size: large;
}
.cajaSelectoraDetalle{
    margin-top: 1%;
    margin-left: 2%; /* Separado un 2% del margen izquierdo de la caja */
    display: flex;
    flex-direction: row; /* coloca cajas selectoras una al lado de la otra */
    align-items: center;
}
.talleProducto{
    text-align: center;
    font-family: Franklin Gothic Heavy;
    font-size: large;
    width: 25%;
}
.selectTalleDetalle{
    text-align: center; 
    background-color:  #73ecf7;  /* colores del select del talle */
    width: 50%;
}
.cajaSelectora { 
    text-align: center;
}
.talleProductoDetalle{
    text-align: center;
    font-family: Franklin Gothic Heavy;
    font-size: large;
    width: 25%;
}
.inputTalleDetalle{
    background-color:  #73ecf7;
    text-align: center;
    font-family: Franklin Gothic Heavy;
    font-size: large;
    width: 60%;
}
.cajaAgregarProducto{
    width: 100%;
    display: flex;
    align-items: right;
}
.botonAgregarProducto{
    width: 70%;
    font-family: Franklin Gothic Heavy;
    font-size: x-large;
    margin-left: 8%;
    background-color: rgb(0, 187, 125);
    border: none;
    border-radius: 50px;
}
.cajaAgregarProducto button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(4, 85, 58);
    transform: scale(1);
    transition: all 0.6s ease; /* velocidad a la que se abre el campo de busqueda */
}
.compartirRedes{
    margin-left: 2%;
    margin-top: 1%;
    font-size: 20px;
    font-weight: bold;
}
.Redes{
    margin-top: 2px;
}
.cajaEnvioGratis{
    margin-left: 3%;
    margin-top: 1%;
    display: flex;
    background-color:  #73ecf7;
    color: black;
    width: 50%;
    transform: skew(-15deg);   /* Dobla la caja  */
    padding: 10px 10px 10px 20px;  /* Separacion interna de 20 px a la izquierda (camion) */
}
.cajaEnvio{
    margin-left: 4%;
}

.cajaCamioncito{
    font-size: larger;
}
.promoEnvio{
    font-weight:bold;  /* letra en negrita */
    font-size: larger;
}
.comprasSuperiores{
    color: rgb(0, 0, 0);
}
.especificaciones{
    font-size: 30px;
    font-style: italic;
}
.descripcionDetalle{
    margin-top: 1%;
    margin-left: 2%;
    text-align: left;
    font-family: Franklin Gothic Heavy;
    font-size: large;
    display: flex;
    flex-grow: 1; /* ocupa todo el espacio disponible */
}
.BotonDeEdición{
    font-family: Franklin Gothic Heavy;
    font-size: x-large;
    margin-top: 1%;
    text-align: center;
}
.BotonDeEdición button{
    width: 15%;
    background-color: rgba(255, 247, 134, 0.938);
}
.BotonDeEdición :hover{
    color: rgb(255, 255, 255);
    background-color: rgb(207, 139, 11);
    transform: scale(1);
    border-radius: 50px;
    transition: all 0.6s ease; /* velocidad a la que se abre el campo de busqueda */
    width: 15%;
}


/* Deskopt */
@media (max-width:1690px){ 
    .cuotas {
        font-size: large;
}
    .cajaEnvio{        
        font-size: x-small;
    }
    .botonAgregarProducto{
        font-size: large;
    }
    .cajaIzquierda{
        width: 60%;
    }
    .cajaDerecha{
        width: 60%;
    }
}

/* Laptops */
@media (max-width:1280px){ 
    .CajaMasterDetalle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cajaImagenDetalle{
        width: 100%;
    }
    .BotonDeEdición button{
        width: 30%;
    }
}

/* Tablets */
@media (max-width:1279px){ 
    .cajaIzquierda{
        width: 80%;
    }
    .cajaDerecha{
        width: 100%;
    }
}

/* Tablets */
@media (max-width:600px){ 
    .precioDetalle{
        font-size: xx-large;
    }
    .tarjetasDetalle i{
        font-size: medium;
    }
    .cambio i{
        font-size: medium;
    }
    .cajaEnvio{        
        font-size: 8px;
    } 
    .talleProductoDetalle input{
        font-size: small
    }
    .BotonDeEdición button{
        width: 30%;
        font-size: medium;
    }
}

/* Smartphones */
@media (max-width:480px){ 
    .tituloProductoDetalle {
        font-size: x-large;
    }
    .precioDetalle{
        font-size: x-large;
    }
    .cuotas {
        font-size: small;
        width: 50%;
    }
    .cambio{
        font-size: medium;
    }
    .cajaEnvio{        
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .cajaEnvioGratis i{        
        font-size: small;
    }
    .cajaEnvioGratis{
        width: 60%;
        padding: 2px 2px 2px 3px;  
    }
    .botonAgregarProducto{
        font-size: small;
    }
    .talleProducto{
        font-size: small;
    }
    .cajaSelectora select{
       width: 65%;
    }
    .talleProductoDetalle{
        font-size: small;
    }
    .talleProductoDetalle input{
        font-size: x-small
    }
    .especificaciones{
        font-size: medium;
    }
    .InfoDetalle{
        font-size: small;
    }
    .descripcionDetalle{
        font-size: small;
    }
    .BotonDeEdición button{
        width: 50%;
        font-size: small;
    }
}

