.editTitulo{
    color: black;
    font-size: xx-large;
    font-weight: bold;
    font-family: Paytone One;
    margin-top: 1%;
    text-align: center;
}
.editTitulo i{
    color: red;
}
.cajaPadreEdicion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
}
.cajaFotoEdicionProducto{
    margin-right: 5%;
    width: 25%;
    display: flex;
    align-items: center; /* alinea la imagen sobre el eje y */
}
.cajaFotoEdicionProducto img{
    width: 100%;
}
.cajaEdicionIzquierda{
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: large;
    background-color: #e0e0e0c4;
    padding: 1%;
    border-radius: 15px;
}
.cajaEdicionIzquierda label{
    margin-top: 5%;
}
.cajaEdicionIzquierda input{
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.cajaEdicionIzquierda select{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.cajaEdicionDerecha{
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: large;
    background-color: #e0e0e0c4;
    padding: 1%;
    border-radius: 15px;
    margin-left: 5%;
}
.cajaEdicionDerecha label{
    margin-top: 5%;
}
.cajaEdicionDerecha input{
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.cajaEdicionDerecha select{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.cajaEdicionDerecha textarea{
    font-weight: bold;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.botonGuardarEdicion{
    font-family: Franklin Gothic Heavy;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 70%;
}
.botonGuardarEdicion button{
    background-color: #73ecf7;
    width: 100%;
    border-radius: 50px; 
}
.botonGuardarEdicion button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(120, 58, 124);
    transform: scale(1);
    border-radius: 50px;
    transition: all 900ms ease; /* velocidad a la que se abre el campo de busqueda */
}
.botonEliminarProducto{
    font-family: Franklin Gothic Heavy;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 30%;
}
.botonEliminarProducto button {
    background-color: rgb(216, 43, 43);
    width: 100% ;
}
.botonEliminarProducto button:hover {
    color: rgb(255, 255, 255);
    background-color: red;
    transform: scale(1);
    border-radius: 50px;
    transition: all 900ms ease; /* velocidad a la que se abre el campo de busqueda */
}

/* Laptops */
@media (max-width:1280px){ 
    .cajaPadreEdicion label{
        font-size: small;
    }
    .cajaPadreEdicion input{
        font-size: small;
    }
    .cajaPadreEdicion textarea{
        font-size: small;
    }
    .cajaPadreEdicion select{
        font-size: small;
    }
    .botonGuardarEdicion{
        font-size: medium;
        width: 90%;
    }
    .botonEliminarProducto{
        font-size: medium;
        width: 30%;
    }
}

/* Tablets */
@media (max-width:700px){ 
    .editTitulo{
        font-size: large;
    }
    .cajaPadreEdicion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cajaFotoEdicionProducto{
        width: 90%;
    }
    .cajaEdicionIzquierda{
        width: 90%;
        border-radius: 15px 15px 0px 0px;
    }
    .cajaEdicionDerecha{
        width: 90%;
        border-radius: 0px 0px 15px 15px;
        margin-left: 0%;
    }
    .botonGuardarEdicion{
       margin-top: 3%;
       width: 60%;
    }
    .botonEliminarProducto{
        font-size: medium;
    }
}

/* Smartphones */
@media (max-width:480px){ 
    .cajaPadreEdicion label{
        font-size: x-small;
    }
    .cajaPadreEdicion input{
        font-size: x-small;
    }
    .cajaPadreEdicion textarea{
        font-size: x-small;
    }
    .cajaPadreEdicion select{
        font-size: x-small;
    }
    .botonGuardarEdicion{
        font-size: small;
        width: 80%;
    }
    .botonEliminarProducto{
        font-size: small;
        width: 50%;
    }
}
