.editTitulo{
    color: black;
    font-size: xx-large;
    font-weight: bold;
    font-family: Paytone One;
}

.editTitulo i{
color: red;
}

.cajaPadreEdicion{
    display: flex;
    flex-direction: row;
    border: solid brown;
    justify-content: center;
    margin-top: 1%;
}

.cajaFotoDeProducto img{
    width: 470px;   /*  al ser imagen se ajusta en pixeles */
    height: 470px;  /*  al ser imagen se ajusta en pixeles */
}

.cajaEdicionIzquierda{
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid rgb(228, 217, 63);
    width: 30%;
    font-size: large;
}

.cajaEdicionIzquierda label{
    margin-top: 5%;
}

.cajaEdicionIzquierda input{
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cajaEdicionIzquierda select{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cajaEdicionDerecha{
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid rgb(235, 92, 48);
    margin-left: 5%;
    width: 30%;
    font-size: large;
}

.cajaEdicionDerecha label{
    margin-top: 5%;
}

.cajaEdicionDerecha input{
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cajaEdicionDerecha select{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cajaEdicionDerecha textarea{
    font-weight: bold;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.botonGuardarEdicion{
    font-family: Franklin Gothic Heavy;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.botonGuardarEdicion button{
    background-color: #73ecf7;
    width: 380px;  
    border-radius: 50px; 
}

.botonGuardarEdicion button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(120, 58, 124);
    transform: scale(1);
    border-radius: 50px;
    transition: all 900ms ease; /* velocidad a la que se abre el campo de busqueda */
}

.botonEliminarProducto{
    font-family: Franklin Gothic Heavy;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.botonEliminarProducto button {
    background-color: rgb(216, 43, 43);
    width: 15% ;
}

.botonEliminarProducto button:hover {
    color: rgb(255, 255, 255);
    background-color: red;
    transform: scale(1);
    border-radius: 50px;
    transition: all 900ms ease; /* velocidad a la que se abre el campo de busqueda */
}

