.editProfileTitulo{
    color: black;
    font-size: xx-large;
    font-weight: bold;
    font-family: Paytone One;
    margin-top: 1%;
}

.editProfileTitulo i{
color: rgba(224, 114, 24, 0.835);
}

.cajaPadreEditProfile{
    display: flex;
    flex-direction: row;
    border: solid brown;
    justify-content: center;
    margin-top: 1%;
}

.cajaAvatar{
    border: solid green;
    margin-right: 5%;
    
}

.cajaAvatar img{
    width: 470px;   /*  al ser imagen se ajusta en pixeles */
    height: 470px;  /*  al ser imagen se ajusta en pixeles */
}

.cajaCentroDatos{
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid rgb(228, 217, 63);
    width: 25%;
    font-size: large;
}

.cajaCentroDatos label{
    margin-top: 5%;
}

.cajaCentroDatos input{
    text-align: center;
}

.cajaDerechaDatos{
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid rgb(219, 48, 235);
    margin-left: 5%;
    width: 25%;
    font-size: large;
}

.cajaDerechaDatos label{
    margin-top: 5%;
}

.cajaDerechaDatos input{
    text-align: center;
}

.botonEditProfile{
    font-family: Franklin Gothic Heavy;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.botonEditProfile button{
    background-color: rgb(43, 210, 216);
    width: 25% ;
    border-radius: 50px;
}

.botonEditProfile button:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(224, 114, 24, 0.835);
    transform: scale(1);
    border-radius: 50px;
    transition: all 700ms ease; /* velocidad a la que se abre el campo de busqueda */
}