.body404{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.tituloError{
  font-size: xx-large;
  font-weight: bold;
  font-family: Paytone One;
  margin-top: 1%;
  text-align: center;
}

.gifError img{
  width: 40%;
}

.botonBackError{
  font-family: Paytone One;;
  font-size: x-large;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  text-align: center
}
.botonBackError button{
  background-color: rgb(43, 210, 216);
  width: 20% ;
  border-radius: 50px;
  border: none;
  padding: 5px;
}

.botonBackError button:hover{
   color: rgb(255, 255, 255);
   background-color: rgb(85, 4, 4);
   border-color:  rgb(85, 4, 4);;
   transform: scale(1);
   color: white;
   transition: all 700ms ease; /* velocidad a la que se abre el campo de busqueda */
}

/* Laptops */
@media (max-width:1000px){
  .tituloError{
    font-size: x-large;
  }
  .botonBackError{
    font-size: large;
  }
  .botonBackError button{
    width: 35% ;
  }
} 

/* Tablets */
@media (max-width:600px){
  .tituloError{
    font-size: large;
  }
  .gifError img{
    width: 60%;
  }
  .botonBackError{
    font-size: medium;
  }
  .botonBackError button{
    width: 35% ;
  }
}
/* Mobile */
@media (max-width:480px){
  .tituloError{
    font-size: small;
  }
  .gifError img{
    width: 60%;
  }
  .botonBackError{
    font-size: small;
  }
  .botonBackError button{
    width: 35% ;
  }
}