header{
    width: 100%;
    top: 0;
    left: 0;
    padding: 0%;
}
.navbar{
    padding: 0%
}
.caja-envios{
    text-align: center!important;
    background-color: #73ecf7;
    line-height: 20px;
    font-size: 15px;
    font-family: 'Exo 2',sans-serif;
    font-weight: bold;
    width: 100%;
    padding: 4px 0;   
}
.cajaLogoBuscadorSesion{
    display: flex;
    justify-content: space-between;
    align-items: center;  /* alinea los items (buscador, login, etc) en el centro respecto al plano vertical */
    width: 100%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1% 0 1%;
}
.cajaBotonResponsive{ /*  BOTON RESPONSIVE */
    display:none;
    width: 20%;
}
.caja-logo{
    width: 13%;
}
.caja-logo img{
    width: 100%; 
}
.botonComprasHeader {
    display: none
}
.barra-de-busqueda {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.barra-de-busqueda input {
    width: 70%;
    border-radius: 10px;
    padding: 10px 10px;  /* agranda el input (campo de busqueda) alejando los bordes 10px vertical del texto que se ingresa */
    font-weight: bold;
    border: solid black;
    border-width: 3px;
}
.barra-de-busqueda ::placeholder{
    color: black;
    font-weight: bold;
}
.sesionHeader{
    width: 20%;
}
.headerSinLoguear{
    text-align: end;
    display: flex;
    flex-direction: column;
}
.headerSinLoguear a{
    color:black;
    font-weight: bold;
    height: 100%;
}
.headerSinLoguear div :hover{
    font-size: 17px;
    text-transform: uppercase;
    color: rgb(240, 160, 12);
}
.iconoLoginTablet i{
    font-size: large;
    color: #73ecf7;
    display: none;
    border-radius: 100%;
    background-color: black;
    padding: 5px;
}
.iconoLoginTablet i:hover{
    cursor: pointer;
    color: rgb(240, 160, 12);
    transition: 0.5s ease;
}
.sinLoguearTablet{
    display: none;
    line-height: 30px;
}
.sinLoguearTablet li{
    margin: 22px 0px;
}
.headerLogueado{
    display: flex;
    align-items: center;  /*  Alinea imagen y textos en el plano vertical */
    flex-direction: row;
    text-align: end;
}
.avatarHeader{
    overflow: hidden; /* la imagen no se sale de su caja al expandirse con el hover */
    padding: 5px;
    width: 55%; 
}
.avatarHeader img {
    width:70%;
    border-radius: 100%;
}
.avatarHeader :hover .imgHeaderAvatar{
    transform: scale(1.07); 
    cursor: pointer; /* mouse en modo hipervinculo */
    transition: 0.9s;
    border-radius: 100%;
}
.headerLogueadoOpciones {
    display: flex; 
    flex-direction: column;
    text-align: end;
    font-weight: bold;
    width: 40%;
}
.headerLogueadoOpciones a{
    color: black;
}
.headerLogueadoOpciones div :hover{
    font-size: 17px;
    text-transform: uppercase;
    color: rgb(240, 160, 12);
}
.busquedaResponsive{
    display: none;
}
.container-fluid{
    font-size: larger;
    padding: 0.5% 3% 0% 2%;
}
.menuHorizontalHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold; 
    width: 100%; 
    color: black;
    list-style: none; /* nose no hace nada*/
    margin-bottom: 0%;
    margin-top: 0.5%;
}
.menuHorizontalHeader a{
    color: black;
}
.menuHorizontalHeader > li > a{
    display: block;
}
.menuHorizontalHeader > li > a:hover{
    color: red;
    transition:0.5s ease-in-out;
}
.menuVerticalHeader{
    position: absolute;  /* cuando se despliega el listado no deforma la fila */
    display: none;
    list-style: none; /* quita el punto de lista */
    width: auto;
}
.menuHorizontalHeader li:hover .menuVerticalHeader{
    display: block ; /* el menu aparece al hacer el hover */
    background-color: #a1a1a1;
    z-index: 999999999;
    border-radius: 5px;
}
.menuVerticalHeader a{
    display: block;
    color: black;
    padding: 0px 30px 0px 5px;
}
.menuVerticalHeader a:hover{
    color: rgb(243, 186, 31);
    background-color: black;
}

/* Laptops */
@media (max-width:1280px){ 
    .caja-logo{
        width: 15%;
    }
    .headerLogueado{
        font-size: small
    }
    .avatarHeader{
        width:60%
    }
    .headerLogueadoOpciones{
        width: 100%;
    }
    .menuHorizontalHeader{
        font-size: small;
    }
    .barra-de-busqueda input {
        padding: 5px 5px;  
    }
}

/* Tablets */
@media (max-width:800px){ 
    .sesionHeader{
        display: none;
    }
    .caja-envios{
        font-size: small;
    }
    .barra-de-busqueda{
        display: none;
    }
    .cajaLogoBuscadorSesion{
        display: flex;      
        align-items: center;  /* alinea los items (buscador, login, etc) en el centro respecto al plano vertical */
        padding: 0 1% 0 1%;
    }
    .cajaBotonResponsive{ /*  BOTON RESPONSIVE */
        display:block;
        width: 20%;
    }
    .offcanvas{  /* cuanto va a cubrir el menu desplegable lateral */
        --bs-offcanvas-width: 100%; 
    }
    .offcanvas-title{
        font-family: "Dancing Script";
        color: white;
        font-size:x-large;
        font-weight: bold;
    }
    .offcanvas-title a{
        color: white;
    }
    .navbar-toggler{
        display:block;
    }
    .navbar-toggler i{
        color: black;
        font-size:xx-large;
    }
    .navbar-toggler{
        width:60%
    }
    .navbar-dark .navbar-nav .nav-link {
        font-weight: bold;
        color: white;
    }
    .caja-logo{
        width: 70%;
        text-align: center;
    }
    .caja-logo img{
        width: 50%;
    }
    .botonComprasHeader {
        display: block;
        width: 20%; 
        text-align: end;
        font-size:xx-large;
    }
    .busquedaResponsive{
        display:block;
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
    }
    .busquedaResponsive input{
        width: 100%;
        border-radius: 10px;
        padding: 8px 8px;  /* agranda el input (campo de busqueda) alejando los bordes 10px vertical del texto que se ingresa */
        font-weight: bold;
        border: solid black;
        border-width: 3px;
    }
    .menuHorizontalHeader{
        display: none;
    }
    .avatarResponsive{
        margin:3% 0 2% 0
    }
    .avatarResponsive img {
            width:60px;
            border-radius: 100%;
    }
}

/* Smartphones */
@media (max-width:480px){ 
    .caja-envios{
        font-size: 12px;
    }
    .caja-logo{
        width: 40%;
    }
    .caja-logo img{
        width: 100%;
    }
    .barra-de-busqueda{ 
        display: none;
    }
    .barra-de-busqueda input{ 
        width: 100%;
        padding: 2px 2px;  
        font-size: xx-small;
    }
}