header{
    width: 100%;
    top: 0;
    left: 0;
}

.caja-envios{
    text-align: center!important;
    background-color: #73ecf7;
    line-height: 20px;
    font-size: 15px;
    font-family: 'Exo 2',sans-serif;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    padding: 4px 0;    
}
.caja-envios:hover{
    color: white;
    transition: 0.9s;;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;  /* alinea los items (buscador, login, etc) en el centro respecto al plano vertical */
    width: 100%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1% 0 1%;
}
.caja-logo{
    width: 13%;
}
.caja-logo img{
    width: 100%; 
}
.barra-de-busqueda {
    text-align: center;
    width: 50%;
}
.barra-de-busqueda input {
    width: 70%;
    border-radius: 10px;
    padding: 10px 10px;  /* agranda el input (campo de busqueda) alejando los bordes 10px vertical del texto que se ingresa */
    font-weight: bold;
    border: solid black;
    border-width: 3px;
}
.barra-de-busqueda ::placeholder{
    color: black;
    font-weight: bold;
}
.headerSinLoguear{
    text-align: end;
    width: 15%;
    display: flex;
    flex-direction: column;
}
.headerSinLoguear a{
    color:black;
    font-weight: bold;
    height: 100%;
}
.headerSinLoguear div :hover{
    background-color:  #73ecf7;
    color: white;
    transition: 1s;
}
.headerLogueado{
    display: flex;
    align-items: center;  /*  Alinea imagen y textos en el plano vertical */
    width: 20%;
    flex-direction: row;
    text-align: end;
}
.avatarHeader{
    overflow: hidden; /* la imagen no se sale de su caja al expandirse con el hover */
    padding: 5px;
    width: 55%; 
}
.avatarHeader img {
    width:70%;
    border-radius: 100%;
}
.avatarHeader :hover .imgHeaderAvatar{
    transform: scale(1.07); 
    cursor: pointer; /* mouse en modo hipervinculo */
    transition: 0.9s;
    border-radius: 100%;
}
.headerLogueadoOpciones {
    display: flex; 
    flex-direction: column;
    text-align: end;
    font-weight: bold;
    width: 40%;
}
.headerLogueadoOpciones a{
    color: black;
}
.headerLogueadoOpciones div :hover{
    background-color:  #73ecf7;
    color: white;
    transition: 1s;
}
.menuHeader{
    color:black; 
    width: 95%; 
    justify-content: space-between;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    border: red solid;
}
.chota{
    border: violet solid;
}
.menuHorizontalHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold; 
    width: 100%; 
    color: black;
    list-style: none; /* nose no hace nada*/
    border: aqua solid;
}
.menuHorizontalHeader a{
    color: black;
    margin-top: 10px;
}
.menuHorizontalHeader i{
    color: rgb(238, 39, 39);
}
.menuHorizontalHeader > li > a{
    display: block;
}

/* Subrayado de menu horizontal */

.menuHorizontalHeader > li:hover{
    display: inline-block; /* el subrayado va a ocupar solo el texto */
    position: relative;
}
.menuHorizontalHeader > li::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* grosor de la linea que hara el subtitulo */
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}
.menuHorizontalHeader > li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Fin de subrayado de menu horizontal */

.menuVerticalHeader{
    position: absolute;  /* cuando se despliega el listado no deforma la fila */
    display: none;
    list-style: none; /* quita el punto de lista */
    width: 170px;
}
.menuHorizontalHeader li:hover .menuVerticalHeader{
    display: block ; /* el menu aparece al hacer el hover */
    background-color: #73ecf7;
}
.menuVerticalHeader li a{
    display: block;
    color: black;
}
.menuVerticalHeader li a:hover{
    color: rgb(243, 186, 31);
    background-color: black;
}
#res-menu{
    display: none; /* oculta el checkbox */
}
#sign-one {
    display: none; /* oculta la x */
}
#sign-two {
    display: none; /* oculta la hamburguesa */ 
}

/* Laptops */
@media (max-width:1280px){ 
    .caja-logo{
        width: 15%;
    }
    .headerLogueado{
        width: 20%;
        font-size: small
    }
    .avatarHeader{
        width:60%
    }
    .headerLogueadoOpciones{
        width: 100%;
    }
    #res-menu{
        display: none; /* oculta el menu si no esta activo el menu hamburguesa */
    }
    #sign-one {
        display: none; /* si el menu esta tildado oculta la x */
    }
    #sign-two {
        display: none; /* si el menu esta tildado muestra la hamburguesa */ 
    }
    .menuHorizontalHeader{
        font-size: small;
    }
    .barra-de-busqueda input {
        padding: 5px 5px;  
    }
}

/* Tablets */
@media (max-width:800px){ 
    .headerLogueado{
        display: none;
    }
    .headerSinLoguear{
        display: none;
    }
    .caja-envios{
        font-size: small;
    }
    .barra-de-busqueda {
        text-align: center;
        width: 60%;
        font-size: small;
    }
    .barra-de-busqueda input {
        padding: 5px 5px;  
    }
    .headerLogueadoOpciones{
        font-size: x-small;
    }
    .headerSinLoguear{
        font-size: small;
    }
    label #sign-one {
        display: block; /* muestra la x */
    }
    .avatarHeader{
        display: none; /* abajo de 700px oculta el avatar */
    }
    .menuHeader .menuHorizontalHeader {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: rgb(248, 204, 8); /* color de fondo del menu */
        text-align: start;
    }
    .menuHeader .menuHorizontalHeader li {
        display: block;
        margin: 10px 0;
        line-height: 30px;
        border-bottom: 1px solid #EAEAEB;
    }
    .menuHeader .menuHorizontalHeader li a {
        font-size: 20px;
    }
    #res-menu:checked~ul {
        left: 0;
        display: none; /* oculta el menu si no esta activo el menu hamburguesa */
    }
    #res-menu:checked~label #sign-one {
        display: none; /* si el menu esta tildado oculta la x */
    }
    #res-menu:checked~label #sign-two {
        display: block; /* si el menu esta tildado muestra la hamburguesa */ 
    }
}

/* Smartphones */
@media (max-width:480px){ 
    .caja-envios{
        font-size: xx-small;
    }
    .caja-logo{
        width: 20%;
    }
    .caja-logo img{
        width: 100%;
    }
    .headerLogueado{
        width: 22%;
    }
    .headerLogueadoOpciones{
        width: 100%;
        font-size: x-small;
    }
    .headerSinLoguear{
        width: 22%;
        font-size: x-small;
    }
    .barra-de-busqueda{ 
        width: 50%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .barra-de-busqueda input{ 
        width: 100%;
        padding: 2px 2px;  
        font-size: xx-small;
        
    }
    .main-header{
        text-align: center;
        justify-content: space-between;
    }
}