a {
    text-decoration: none; /* le saca el subrayado a todos los hipervinculos de etiqueta a */
} 
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* el padding y el border pasen a formar parte del cálculo del ancho de la caja y no lo suma posteriormente. */
}
body{
    font-family: 'Exo 2',sans-serif;
    background-color: white;
} 
/* 
#carouselExampleIndicators{
    z-index: -1;  pone detras el carrousel PERO PIERDE FUNCIONALIDAD LOS BOTONES DE DESPLAZAMIENTO
}
*/
.lanzamientos{
    font-size: xxx-large;
    font-family: Luckiest Guy;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    animation-name: lanzamientosAnimacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes lanzamientosAnimacion{
    100% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.50;
    }
    25% {
        opacity: 1.25;
    }
}
.productosLanzamientos{ 
    width: 95%;
    display: flex;
    flex-direction: row; /* un producto al lado del otro en el plano horizontal*/
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-bottom: 50px;
}
.cajaLanzamientoIndex{
    margin: 5px 5px 5px 5px;
    text-align: center;
}
.cajaLanzamientoIndex:hover{
    transition: 0.5s; /* para que la caja se desplaze suave hacia arriba */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25); /* efecto sombra: lateral, vertical, manchado */
    border-radius: 5%;
}
.lanzamientoPar1, .lanzamientoPar2{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.cajaLanzamientoIndex img{
    width: 100%;   
    height: 100%;  
    max-height: 400px; 
}
.nombreLanzamientos{
    font-weight: bold;
    font-family: calibri;
    font-size: large;
    color: black;
}
.precioLanzamientos{
    font-weight: bold;
    font-size: x-large;
    color: #229acd;
    font-family: Segoe UI Black;
}
.mujerHombre{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* separa hacia los laterales las imagenes */
    width: 100%;
}
.imagenMujerHombre{
    text-align: center;
    width: 90%;
    overflow: hidden; /* la imagen no se sale de su caja al expandirse con el hover */
    margin-left: 13px;  /* el margen separa las imagenes */
    margin-right: 13px;
    filter: grayscale(100%);
}
.imagenMujerHombre:hover{
    filter: grayscale(0%);
}
.imagenMujerHombre:hover .imgMujer{   /* efecto de zoom (expande la escala de la imagen) */
    transform: scale(1.07); 
    cursor: pointer; /* mouse en modo hipervinculo */
}
.imagenMujerHombre:hover .imgHombre{   /* efecto de zoom (expande la escala de la imagen) */
    transform: scale(1.07); 
    cursor: pointer; /* mouse en modo hipervinculo */
}
.imgMujer {
    transition: 0.9s; /* velocidad a la que la imagen va a hacer el zoom al pasar el mouse por el articulo */
}
.imgHombre {
    transition: 0.9s; /* velocidad a la que la imagen va a hacer el zoom al pasar el mouse por el articulo */
}
.mujerHombre img{
    width: 100%;
}
.cajaMarcas{
    margin-left: auto;
    margin-right: auto;  
    width: 100%;
    justify-content: space-around;
}
.fotosMarcas div{
    width: 15%; /* ancho que ocuparan las cajas de las marcas */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.fotosMarcas img{
    width: 100%;
}
.fotosMarcas img:hover{
    transition: 0.9s; /* velocidad a la que la imagen va a hacer el zoom al pasar el mouse por el articulo */
    transform: scale(1.1); 
}
.fotosMarcas{
    margin: 15px;
    overflow: hidden; /* la imagen no se sale de su caja al expandirse con el hover */
    display: flex ;
    flex-direction: row; /* ubica las cajas en horizontal */
    flex-wrap: wrap; /* manda las cajas hacia abajo para que se respete su tamaño */
   
}
.suscribite{
    background-color:  #73ecf7;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    font-family: "Prompt",Sans-serif;
    padding: 80px;
    margin: 40px 0px 40px 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.newsletter{
    font-size: medium;
    margin-bottom: 20px;
}
.recibiNewsletter{
    font-size: xx-large;
    font-family: Segoe UI Black;
    margin-bottom: 20px;
}
.ofertasNewsletter{
    font-size: large;
    font-family: calibri;
    margin-bottom: 20px;
}
.ingresarMailIndex{
    border: solid black;
    font-size: medium;
    border-radius: 10px;
    padding: 13px 0 13px 8px;
    width: 50%;
}
.inputNewsletter ::placeholder{
    color: black;
    font-weight: bold;
}
.ventajasTitulo{
    font-family: Dancing Script;
    text-align: center;
    font-size: xxx-large;
}
.ventajasPadre{
    display: flex;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.cajaHijoVentaja{
    border: 2px solid rgba(0,0,0,.12156862745098039);
    border-radius: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 30px;
}
.cajaHijoVentaja i{
    color: rgb(240, 160, 12);
    font-size: xx-large;
}
.cajaHijoVentaja:hover{
    transition: 0.5s; /* para que la caja se desplaze suave hacia arriba */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25); /* efecto sombra: lateral, vertical, manchado */
}
.subtituloVentajas{
    font-weight: bold;
    font-size: large;
    padding-top: 15px;
    padding-bottom: 25px;
    font-family: "Roboto", sans-serif;
}
.textoVentajas{
    font-weight: bold;
    color: gray;
}

/* Laptops */
@media (max-width:1280px){ 
    .lanzamientos{
        font-size: xx-large;
    }
    .nombreLanzamientos, .precioLanzamientos{
        font-size: medium;
    }
    .productosLanzamientos{
        width: 100%;
        padding-bottom: 0px;
    }
    .cajaLanzamientoIndex img{  
        max-height: 200px; 
    }
    .ventajasTitulo{
        font-size: x-large;
    }
    .ventajasPadre{
        justify-content: space-between;
        width: 90%;
    }
    .cajaHijoVentaja{
        width: 30%;
        font-size: medium;
    }
}

/* Tablets */
@media (max-width:700px){ 
    #carouselExampleIndicators{
        transform: scale(1.2); 
        overflow: hidden; /* la imagen no se sale de su caja al expandirse con el hover */
        width: 91%;
    }
    .lanzamientos{
        font-size: x-large;
    }
    .nombreLanzamientos, .precioLanzamientos{
        font-size: x-small;
    }
    .productosLanzamientos{
        width: 100%;
    }
    .cajaLanzamientoIndex img{  
        max-height: 130px; 
    }
    .fotosMarcas div{
        width: 15%; /* ancho que ocuparan las cajas de las marcas */
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .ventajasTitulo{
        font-size: x-large;
    }
    .ventajasPadre{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .cajaHijoVentaja{
        width: 80%;
        font-size: medium;
        margin-bottom: 4%;
    }
    .recibiNewsletter{
        font-size: x-large;
    }
    .suscribite input{
        width: 95%;
    }
}

/* Smartphones */
@media (max-width:480px){ 
    .lanzamientos{
        font-size: x-large;
    }
    .nombreLanzamientos, .precioLanzamientos{
        font-size: x-small;
    }
    .lanzamientoPar1, .lanzamientoPar2{
        flex-direction: column;
    }
    .productosLanzamientos{
        width: 100%;       
    }
    .fotosMarcas div{
        width: 25%; /* ancho que ocuparan las cajas de las marcas */
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .mujerHombre{
        display: flex;
        flex-direction: column;   
        width: 100%;
        align-items: center; /* los centra en el eje x */
    }
    .imgMujer{
        margin-bottom: 3%;
    }
    .recibiNewsletter{
        font-size: x-large;
    }
}




  