* {box-sizing: border-box;} 

body {font-family: 'Exo 2', sans-serif; background-color: rgb(82, 77, 77);}  /* tipo de letra Exo 2 para todo el sitio web */
header{background-color: white;}
.sports-online, .ayuda, .atencionCliente, .redes {font-weight: bold;}

a{text-decoration: none;} /* le saca el subrayado a todos los hipervinculos de etiqueta a */

.main-header {display: flex;justify-content: space-between; align-items: center;}

.logo {width: 180px; height: 120px;}

.userHeader ul{display: flex; align-items: center; margin-right: 9px; text-align: end;}
.userHeader li{align-items: end; margin-right: 9px; text-align: end;}
.userHeader img {width:50px;height: 50px; border-radius: 100%; } /* estilo a la foto del usuario */
.nombreDeUsuario{text-align: end;margin-right: 9px;color:black; font-weight: bold}
.nombreDeUsuario a:hover{color:red; font-weight: bold;font-size: large} /* el estilo que le da al apoyar el puntero sobre los campos */
.right-navbar{display: flex; text-align: end;}
.right-navbar li {margin-right: 9px;}
.right-navbar a{color:black; font-weight: bold;}
.barra-de-busqueda {text-align: end;}
.barra-de-busqueda input {width: 11.6vw; height: 1.5vw;}
.right-navbar a:hover{color:red; font-weight: bold;font-size: large} /* el estilo que le da al apoyar el puntero sobre los campos */

.cajaMarcas{width: 100vw;}
.caja-categorias, .caja-categorias a{background-color: rgb(219, 54, 54); color:black; width: 100vw; height: 40px; margin-inline-end: 30px;align-items: center}
.caja-categorias {display: flex; align-content: center; justify-content: space-between;}
.categorias li{justify-content: space-between ;}
.categorias {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; font-weight: bold; width: 100%;}
.categorias a{align-items:center;}

.navega, .lanzamientos{font-weight: bold; font-size: x-large;}

.fotosMarcas {display: flex; flex-direction: row; flex-wrap: wrap; background-color: black; justify-content: space-between; margin:auto; width:100%;}
.fotosMarcas div{margin-right: 50px;}

.productos{display:flex;width: 25%; justify-content: flex-start;}
.productos div{width: 25vw; justify-content: space-between; width: 100vw;}
.mujerHombre{display: flex; flex-direction: row ; width:90vw; align-items: center; justify-content: space-between;}

.hombre, .mujer{height: 100%;width: 50vw; padding: 10px;}


.camiseta img, .zapatillaHombre img, .pelotaCapitano img, .bolsoNike img {height: 67%;width: 25vw; padding: 5px;}
.camiseta, .zapatillaHombre, .pelotaCapitano, .bolsoNike {width: 25vw; padding: 7px; display: flex;}
.camiseta h2, .zapatillaHombre h2, .pelotaCapitano h2, .bolsoNike h2 {width: 25vw; padding: 7px; font-size: 17px; color:black; text-align: left;}
.filasImagenes{display: block;}

.suscribite{border:black solid;}
.suscribite h2{text-align: center;}
.botonSuscripcion{display:flex; justify-content: center; margin-bottom: 12px;}

footer {margin-top: 70px; background-color: black; color: white; width:100%;}

.cajas-footer {justify-content: space-between;}
.cajas-footer2 {justify-content: space-between; margin-top: 50px;}
.cajas-footer a{color: white}
.cajas-footer a:hover{color: rgba(8, 205, 240, 0.568);}

.cajas-footer, .cajas-footer2 {display: flex; color: white}  /* transforma en cajas de bloque las clases del footer y las pone una al lado de la otra */

.politica a{color: white;}
.termino a{color:white;}
.parte1 {margin-top: 15px; color: white}
.redes {margin-bottom: 7px; margin-inline-end: 40px;}

.fa-facebook-square{color: #19599f; font-size: xx-large; margin-right: 8px;}
.fa-instagram{color: rgb(216, 81, 205);font-size: xx-large; margin-right: 8px}
.fa-twitter-square{color:rgba(42, 109, 255, 0.863);font-size: xx-large; margin-right: 8px}