
.inicioSesion h2{
     color: black;
     font-size: xx-large;
     font-weight: bold;
     text-align: center;
     margin-top: 30px; 
}

.formularioLog{
     margin: 10px; 
     text-align: center; 
     color: rgb(0, 0, 0);
     background-color: rgb(white); 
}

.control-formulario label{
     margin: 7px; 
     font-weight: bold; 
     font-size: large;
}

.control-formulario input {
     width: 13%; 
     font-weight: bold; 
} 

.wrapper{
     display: flex;
     flex-direction: row;
     position: relative;
}

.wrapper input{
     width: 100%; 
     font-size: large;
     font-weight: bold;
     padding-left: 15px;
}

.wrapper span {  /* ojo de password */
     position: absolute;
     right: 15px;
     top: 50%;
     transform: translateY(-50%);  /* centra el ojo sobre el eje Y */
     cursor: pointer;  /* el mouse se pone en modo hipervinculo al pasar sobre el ojo */
     display: none;/* asi no se ve a menos que escriba la contraseña */
}

.wrapper span i.hide-eye:before{
     content: "\f070";            /* aplica la cruz al ojo */
}

.wrapper input:valid ~ span{   
     display: block;         /* Hace que aparezca el span (el ojo) al ingresar password */
}

.recordarme {
     font-size: large; 
     font-weight: bolder; 
     margin: 8px;
}

.olvido a{
     font-weight: bold;
     margin-top: 10px; 
     color:rgb(0, 0, 0); 
     font-size: large;
}

.olvido a:hover{
     color: #2554f0; 
     font-size: large; 
     font-weight: bolder;
}

.botonIngresar {
     background-color:rgb(45, 156, 142); 
     width: 12.5vw; 
     height: 2vw; 
     color: white; 
     font-size: large;
}

.botonDeLogin button:hover{
     background-color: rgb(233, 135, 23);
     border-radius: 5px
}

.fa-sign-in-alt{
     color: white; 
     font-size: large;
}

.loginFacebook button {
     background-color: #19599f;  
     width: 12.5vw; 
     height: 2vw; 
}

.botonFace {
     color: white; 
     font-size: large;
}

.loginFacebook button:hover{
     background-color: rgb(233, 135, 23);
     border-radius: 5px
}

.fa-facebook {
     color:white; 
     font-size: large;
}

.loginGoogle button {
     background-color: #Ce3a30; 
     width: 12.5vw; 
     height: 2vw;
}

.botonGoogle {
     color: white; 
     font-size: large
}

.loginGoogle {
     margin: 10px
}

.fa-google {
     color: white; 
     font-size: large;
}

.loginGoogle button:hover{
     background-color: rgb(233, 135, 23);
     border-radius: 5px
}

.crearCuenta {
     margin: 10px; 
     font-weight: bold;
}

.botonCreaTuCuenta {
     background-color:rgb(12, 12, 12); 
     width: 12.5vw; 
     height: 2vw; 
     color: white; 
     font-size: large;
}



.crearCuenta button:hover{
     background-color: rgb(233, 135, 23);
     border-radius: 5px
}

.fa-user-plus {
     color: white;
     font-size: large;
}

