.cajaBuscardorListado{
    display: flex;
    margin-left: 5%;
    font-size: xx-large;
    font-weight: bold;
    font-family: Paytone One;
}
.buscar{
    position: absolute;
    margin-left: 20px;
}
.buscar input{    /* campo de escritura para busqueda */
    width: 0px;  /* oculta a cero el campo de busqueda (desde el ancho) */
    height: 45px;  /* altura del campo donde escribis la busqueda */
    padding: 0 20px;
    font-size: 20px; 
    color: rgb(0, 0, 0);
    outline-style: ridge;  /* estilo del contorno */
    border-radius: 30px;
    transition: all 0.6s ease; /* velocidad a la que se abre el campo de busqueda */
}
.iconoRunner{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center; /* centra al muñeco runner */
    color: rgb(25, 255, 244);
    font-size: xx-large;
    border-radius: 50%;  /* le da forma redonda a la caja del runner */
    cursor: pointer; /* pone la manito de hipervinculo al pasar el mouse sobre la lupa */
}
.buscar:hover input{ 
    width: 400px;   /* ancho que se expandira al pasar el cursor sobre la lupa */
}
.bodyProductsList{
    text-align: center;
}
.bodyProductsList :hover{
    cursor: pointer; /* mouse en modo hipervinculo */
    transform: translateY(-5%); /* mueve la caja hacia arriba */
    transition: 0.9s; /* para que la caja se desplaze suave hacia arriba */
}
article.cajaDeProducto{
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
    display: inline-block; /* se ponen en horizontal respetando los tamaños que le paso */
    justify-content: space-around;
    width: 14%;  /* El ancho en % determinará la cantidad de articulos por fila */
    height: auto;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25); /* efecto sombra: lateral, vertical, manchado */
}
article.cajaDeProducto img{
    width: 100%;   
    height: auto;
    max-height: 200px;
    max-width: auto;
}
article.cajaDeProducto :hover{  /* hover interno de la caja */
    transform: translateY(0%); /* deja todo lo interno del articulo sin moverse al hacer el hover */
    box-shadow: 5px 5px 5px rgba(0,0,0,0); /* aplica 0 de sombra para que no sombree por seccion del articulo */
    border-radius: 0px 0px 20px 20px;
    border: none; /* deja lo interno sin bordes al hacer el hover */
}
.cajaFotoDeProducto{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /* la imagen no se sale de su caja al expandirse con el hover */
    border-radius: 20px 20px 0px 0px; /* aplico bordes arriba izq y der, abajo plano */
    width: auto;
    height: 100%;
}
.imageProduct{
    transition: 0.9s; /* velocidad a la que la imagen va a hacer el zoom al pasar el mouse por el articulo */
}
article.cajaDeProducto:hover .imageProduct{  /* efecto de zoom (expande la escala de la imagen) a la imagen al pasar sobre el articulo */
    transform: scale(1.08); 
}
.datosProducto{
    text-align: start;
    padding-left: 10px;
}
.datosProducto:hover{
    background-color: rgba(0,0,0,0.7);
}
.deporteList{
    font-weight: bold;
    font-family: Agency FB;
    font-size: large;
    color: black;
}
.nombreList{
    font-weight: bold;
    font-family: calibri;
    font-size: large;
    color: black;
}
.precioList{
    font-weight: bold;
    font-size: x-large;
    color: #229acd;
    font-family: Segoe UI Black;
}
.botonEditList{
    background-color: rgba(236, 179, 24, 0.931);
    font-size: large;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    font-weight: bold;
}
.botonEditList button{
    width: 70%;
}
.botonEditList:hover{
    background-color: rgb(216, 74, 55);
}

/* Laptops */
@media (max-width:1540px){ 
    article.cajaDeProducto{
        width: 20%;  /* El ancho en % determinará la cantidad de articulos por fila */
    }
}

/* Laptops */
@media (max-width:1056px){ 
    article.cajaDeProducto{
        width: 25%;  /* El ancho en % determinará la cantidad de articulos por fila */
    }
    .cajaBuscardorListado{
        border: springgreen solid;
        display: none;
    }
}

/* Laptops */
@media (max-width:856px){ 
    article.cajaDeProducto{
        width: 25%;  /* El ancho en % determinará la cantidad de articulos por fila */
    }
}

/* Tablets */
@media (max-width:600px){ 
    article.cajaDeProducto{
        width: 40%;  /* El ancho en % determinará la cantidad de articulos por fila */
    }
}

/* Smartphones */ 
@media (max-width:480px){     
    .deporteList{
        font-size: medium;
    }
    .nombreList{
        font-size: medium;
    }
    .precioList{
        font-size: large;
    }
    .botonEditList{
        font-size: medium;
    }
}

/* Smartphones */ 
@media (max-width:360px){     
    .deporteList{
        font-size: medium;
    }
    .nombreList{
        font-size: small;
    }
    .precioList{
        font-size: medium;
    }
    .botonEditList{
        font-size: small;
    }
}

