.cajaBuscardorListado{
    display: flex;
    margin-left: 30%;
    font-size: 30px;
    font-weight: bold;
}

.buscar{
    position: absolute;
    margin-left: 20px;
}

.buscar input{    /* campo de escritura para busqueda */
    width: 0px;  /* oculta a cero el campo de busqueda (desde el ancho) */
    height: 45px;  /* altura del campo donde escribis la busqueda */
    padding: 0 20px;
    font-size: 20px; 
    color: rgb(0, 0, 0);
    outline-style: ridge;  /* estilo del contorno */
    border-radius: 30px;
    transition: all 0.6s ease; /* velocidad a la que se abre el campo de busqueda */
}

.iconoRunner{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center; /* centra al muñeco runner */
    color: rgb(25, 255, 244);
    font-size: xx-large;
    border-radius: 50%;  /* le da forma redonda a la caja del runner */
    cursor: pointer; /* pone la manito de hipervinculo al pasar el mouse sobre la lupa */
}

.buscar:hover input{ 
    width: 500px;   /* ancho que se expandira al pasar el cursor sobre la lupa */
}

.bodyProductsList{
    text-align: center;
}

.bodyProductsList  :hover{       
    transform: scale(1.1);  /* aumenta el tamaño de la caja de los productos */
    transition: opacity .2s;
}

article.cajaDeProducto{
    font-weight: 200;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
    display: inline-block; /* se ponen en horizontal respetando los tamaños que le paso */
    justify-content: space-around;
    width: 18%;  /* El ancho en % determinará la cantidad de articulos por fila */
    height: auto;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25); /* esta tapado el efecto sombra por el solido de abajo */
    border:solid black 10px;
}

.cajaFotoDeProducto{
    width: 100%;
    height: 100%;
    border:solid rgb(189, 82, 82) 8px;
}

.cajaFotoDeProducto img{
    width: 200px;   /*  al ser imagen se ajusta en pixeles */
    height: 200px;  /*  al ser imagen se ajusta en pixeles */
    border-style: double;
    border-radius: 10%;
    border:solid rgb(90, 57, 211) 5px;
}

.cajaFotoDeProducto :hover{
    transform: none;  /* aumenta el tamaño de la caja de los productos */
    transition: opacity .2s;
}

.datosProducto:hover{
    transform: none;  /* aumenta el tamaño de la caja de los productos */
    transition: opacity .2s;
}

.datosProducto{
    border:solid rgb(217, 228, 60) 5px;
}