.cajaBuscardorListado{
    display: flex;
    margin-left: 5%;
    font-size: xx-large;
    font-weight: bold;
    font-family: Paytone One;
}
.buscar{
    position: absolute;
    margin-left: 20px;
}
.buscar input{    /* campo de escritura para busqueda */
    width: 0px;  /* oculta a cero el campo de busqueda (desde el ancho) */
    height: 45px;  /* altura del campo donde escribis la busqueda */
    padding: 0 20px;
    font-size: 20px; 
    color: rgb(0, 0, 0);
    outline-style: ridge;  /* estilo del contorno */
    border-radius: 30px;
    transition: all 0.6s ease; /* velocidad a la que se abre el campo de busqueda */
}
.iconoRunner{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center; /* centra al muñeco runner */
    color: rgb(25, 255, 244);
    font-size: xx-large;
    border-radius: 50%;  /* le da forma redonda a la caja del runner */
    cursor: pointer; /* pone la manito de hipervinculo al pasar el mouse sobre la lupa */
}
.buscar:hover input{ 
    width: 400px;   /* ancho que se expandira al pasar el cursor sobre la lupa */
}
.bodyProductsList{
    display: flex;
    flex-wrap: wrap; /* Apila las cajas sino entran en una misma fila respetando su ancho en px */
    justify-content: center;
}
article{
    transition: .5s ease-in-out;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 250px; /* Ancho de las cajas a apilar */
    border-radius: 20px;
    margin: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25); /* efecto sombra: lateral, vertical, manchado */
    text-align: center;
}
article:hover{
    transform: scale(1.1);  /* agranda la caja */
}
article.cajaDeProducto img{
    height: 100%;
    max-height: 200px;
    margin-right: auto;
    margin-left: auto;
}
.cajaFotoDeProducto{
    overflow: hidden; /* la imagen no se sale de su caja al expandirse con el hover */
    border-radius: 20px 20px 20px 20px; /* aplico bordes arriba izq y der, abajo plano */
    width: auto;
    height: 60%;
}
.imageProduct{
    transition: 0.9s; /* velocidad a la que la imagen va a hacer el zoom al pasar el mouse por el articulo */
}
article.cajaDeProducto:hover .imageProduct{  /* efecto de zoom (expande la escala de la imagen) a la imagen al pasar sobre el articulo */
    transform: scale(1.08); 
}
.datosProducto{
    text-align: start;
    height: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end; /* pone la info del producto abajo de todo en la caja del articulo */
}
.deporteList{
    font-weight: bold;
    font-family: Agency FB;
    font-size: large;
    color: black;
    padding-left: 10px;
}
.nombreList{
    font-weight: bold;
    font-family: calibri;
    font-size: large;
    color: black;
    padding-left: 10px;
}
.precioList{
    font-weight: bold;
    font-size: x-large;
    color: #229acd;
    font-family: Segoe UI Black;
    padding-left: 10px;
    text-align: center;
}
.botonEditList{
    background-color: rgba(236, 179, 24, 0.931);
    font-size: large;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    font-weight: bold;
}
.botonEditList button{
    width: 100%;
}
.botonEditList:hover{
    background-color: rgb(216, 74, 55);
}

@media (max-width:1056px){ 
    .cajaBuscardorListado{
        display: none;
    }
}

@media (max-width:560px){ 
article{
        width: 300px;
    }
}
