.tituloTerminos{
    color: black;
    font-size: xx-large;
    font-weight: bold;
    font-family: Paytone One;
    margin-top: 1%;
    text-align: center;
}
.tituloTerminos i{
    color: brown;
}
.bodyTerminos{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    font-size: large;
    font-weight: bold;
}

/* Tablets */
@media (max-width:800px){ 
    .tituloTerminos{
        font-size: x-large;
    }
    .bodyTerminos{
        font-size: medium;
    }
}

/* Smartphones */
@media (max-width:360px){ 
    .tituloTerminos{
        font-size: large;
    }
    .bodyTerminos{
        font-size: small;
    }
}