
.listadoUsuariosTitulo{
    text-align: center;
    margin-top: 1%;
    font-weight: bold;
    font-family: Paytone One;
}

.listadoUsuariosTitulo i{
    color:rgb(0, 255, 157)
}

table.tableUsuarios{
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    max-width: 90%;    
    width: 90%;
}

.headUsuarios{
    text-align: center;
    font-size: large;
    background-color: rgb(173, 173, 173); 
}

tbody td{     /* interior de la tabla */
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
    padding: 10px;
    font-weight: bold;
    font-family: calibri;
}

tbody tr.filaUsuarios:hover{  /* efecto a la fila/reglon de usuario */
    background-color: rgb(125, 130, 139);
    color: white;
}

.FotoDeUsuario img{
    width: 80px;
    height: 80px;
    border:rgb(65, 40, 2);
    border-radius: 10%;
}

.FotoDeUsuario {
    text-align: center;
}

.FotoDeUsuario td img{
    text-align: center;
    border: solid violet;
}

.columnaNombre{
    width: 150px;
}

.columnaApellido{
    width: 150px;
}

.columnaEmail{
    width: 250px;
}

.columnaDireccion{
    width: 300px;
}

.perfilUserList{
    text-align: center;
}

.elimUsuarioList{
    font-size: small;
    text-align: center;
}

.elimUsuarioList button{
    background-color:rgb(216, 43, 43);
    font-weight: bold;
    border-radius: 10%;
    width: 70px;
    height: 50px;
}

.elimUsuarioList button:hover{
    color: rgb(255, 255, 255);
    background-color: red;
    transition: all 900ms ease; /* velocidad a la que se abre el campo de busqueda */
}

