<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %>
</head>
<body class="body404">
    <h1 class="text404">404 Error</h1>
    <p class="zoom-area">¡Ups! No pudimos encontrar la página que buscabas </p>
    <section class="error-container">
    <span><span>4</span></span>
    <span>0</span>
    <span><span>4</span></span>
    </section>
</body>
</html>