<!DOCTYPE html>
<html>

<%- include('partials/head.ejs') %>  <!--  Incluye el HEAD  -->

<body>

<%- include('partials/header.ejs') %>  <!--  Incluye el HEADER  -->

<main>

    <div>CARROUSEL</div>

    <h2 class="navega">NAVEGÁ POR MARCAS</h2>

    <div class="cajaMarcas">
    <ul class="fotosMarcas" type= "None">
        <div><li><a href=""><img src="\img\adidas.png" alt="adidas"></a></li></div>
        <div><li><a href=""><img src="\img\icon_logo_fila.png" alt="fila"></a></li></div>
        <div><li><a href=""><img src="\img\icon_logo_kappa.png" alt="kappa"></a></li></div>
        <div><li><a href=""><img src="\img\icon_logo_nike.png" alt="nike"></a></li></div>
        <div><li><a href=""><img src="\img\icon_logo_puma.png" alt="puma"></a></li></div>
        <div><li><a href=""><img src="\img\icon_logo_reebok.png" alt="reebok"></a></li></div>
        <div><li><a href=""><img src="\img\icon_logo_umbro.png" alt="umbro"></a></li></div>
        <div><li><a href=""><img src="\img\icon_logo_lagear.png" alt="lagear"></a></li></div>
     </ul>
</div>

<h2 class="lanzamientos">LANZAMIENTOS</h2>

<div class="filasImagenes">

<div class="productos">

<div class="camiseta">
<a href=""><img src="/img/products/imagen1632079279400.jpeg" alt="adidas">
<h2>Camiseta Adidas Titular Selección</h2>
<h2>$10000</h2>
</a>
</div>

<div class="zapatillaHombre">
<a href=""><img src="/img/products/imagen1632079322371.jpg" alt="adidas">
<h2>Pelota US Open Wilson</h2>
<h2>$300</h2>
</a>
</div>

<div class="pelotaCapitano">
<a href=""><img src="/img/products/imagen1632079387683.jpg" alt="adidas">
<h2>Pelota Adidas Aniversario</h2>
<h2>$2000</h2>
</a>
</div>

<div class="bolsoNike">
<a href=""><img src="/img/products/imagen1632079419116.jpg" alt="adidas">
<h2>Camiseta PSG</h2>
<h2>$8000</h2>
</a>
</div>

</div>

<div class="mujerHombre">
<div class="seccionMujer">
<a href=""><img src="\img\seccionMujer.jpeg" alt="secciones" class="mujer"></a>
</div>

<div class="seccionHombre">
<a href=""><img src="\img\seccionHombre.jpeg" alt="secciones" class="hombre"></a>
</div>
</div>
</div>

<div class="suscribite">
<h2>¡Suscribite al newsletter y recibí $500 para tu primera compra!</h2>
<h2>Además enterate antes que nadie de las últimas novedades y promociones.</h2>
<form class="botonSuscripcion">
<div class="botonMail">
<label for="ingresarMail"></label>
<input type="text" name="ingresarMail" id="ingresarMail" placeholder="Ingresa tu e-mail" class="ingresarMail">
</div>

<div class="suscripcion">
    <button type="submit" class="suscribirme"><i class="far fa-envelope"></i> SUSCRIBIRME</button>
    </div>
</form>
</div>
</main>

<%- include('partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->

</body>

</html>

