<footer>
    <div class="cajas-footer">

    <div>
    <ul type= "None">
    <li class= "sports-online">SPORTS ONLINE</li>
    <li class="parte1"><a href="">Quiénes somos</a></li>
    <li class="parte1"><a href="">Sucursales</a></li>
    <li class="parte1"><a href="">Trabajá con nosotros</a></li>
</ul>
</div>

<div class="">
    <ul type= "None">
    <li class="ayuda">AYUDA</li>
   <li class="parte1"><a href="">Preguntas frecuentes</a></li>
   <li class="parte1"><a href="">Entregas y cambios</a></li>     
    </ul>
</div>

<div>
    <ul type= "None">
    <li class= "atencionCliente">ATENCIÓN AL CLIENTE</li>
      <li class="parte1"><i class="fas fa-phone-alt"></i>  9 11 5978 8100</li>
      <li class="parte1">Lun. a Vie. de 9 a 20 Hs.</li>
      <li class="parte1">Sábados de 9 a 13 Hs.</li>
</ul>
</div>

<div>
    <ul type= "None">
    <li class= "redes">SEGUINOS!</li>
    <a href=""><i class="fab fa-facebook-square"></a></i>
    <a href=""><i class="fab fa-instagram"></a></i>
    <a href=""><i class="fab fa-twitter-square"></a></i>
</ul>
</div>
</div>

<div class="cajas-footer2">
<div>
    <ul type="None" class="politica">
        <li><a href="">Política de privacidad</a></li>
    </ul>
</div>

<div>
    <ul type="None" class="termino">
        <li><a href="">Términos y condiciones</a></li>
    </ul>
</div>

<div>
<ul type="None" class="copy">
    <li>Copyright © 2019-2021 SportsOnline S.R.L.</li>
</ul>
</div>
</div>

</footer>