<header>
    <div class="main-header">

        <div class="caja-logo">
            <a href="\"><img src = "\img\Logo.jpg" alt= "Logo de SportsOnline" class="logo"></a> <!-- hipervinculo al index -->
        </div>

        <div class="caja-envios">
<h2 class="copy-header">Envíos gratis a todo el país, en compras superiores a $10.000 <i class="fas fa-truck"></i></h2>
</div>

<div class="caja-busqueda">
    <% if (locals.isLogged){ %> <!-- Si el usuario esta logueado muestra lo siguiente -->
        
    <div class="userHeader">
        <ul type="None">
            <li><img src="/img/avatar/<%= locals.userLogged.avatar %>"></li>
            <div class= "nombreDeUsuario">
                <li><a href="/users/profile"><%= locals.userLogged.nombre %><%= locals.userLogged.apellido %></a></li>
                <li><a href="/users/logout">Cerrar sesión</a></li>
                <li><a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a></li>  <!-- carrito de compras -->
            </div>
        </ul>
    </div>
   <% } else { %>    <!-- Si no esta logueado muestra lo siguiente -->

    <ul class="right-navbar" type="None">
        <li><a href="/users/register">Crear cuenta</a></li>
        <li><a href="/users/login">Iniciar sesión</a></li>
        <li><a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a></li>  <!-- carrito de compras -->
    </ul>
    <% } %>

<nav class="barra-de-busqueda">
<input type="search" placeholder="Buscar productos, marcas y más"> <i class="fas fa-search"></i> 
</nav>
</div>
</div>

<div class="caja-categorias">
    <ul class="categorias" type="None">
        <li><a href="/products/list">Todos los Productos</a></li>
        <li><a href="">Hombre</a></li>
        <li><a href="">Mujer</a></li>
        <li><a href="">Niños</a></li>
        <li><a href="">Ofertas</a></li>
        <li><a href="/products/create">Crear Productos</a></li>
        <li><a href="/users/list">Usuarios</a></li>
    </ul>
</div>
</header>
