    <head>
        <meta charset="utf-8">  <!-- Reconoce diferentes tipos de letras, idiomas y caracteres-->
        <meta name="viewport"content="width=device-width">  <!-- Es para que el sitio sea responsive (se adapte a diferentes dispositivos) -->
        <h1><title SPORTS ONLINE></title></h1>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=MonteCarlo&family=WindSong:wght@500&display=swap" rel="stylesheet">
        
        <link href="\css\normalize.css">  <!--   -->
        <link rel="stylesheet" href="/css/index.css"> <!-- vinculacion del HTML con el index.css -->
        <link rel="stylesheet" href="/css/login.css"> <!-- vinculacion del HTML con el login.css -->
        <link rel="stylesheet" href="/css/carrito.css"> <!-- vinculacion del HTML con el carrito.css -->
        <link rel="stylesheet" href="/css/detalle.css"> <!-- vinculacion del HTML con el detalle.css -->
        <link rel="stylesheet" href="/css/userList.css"> <!-- vinculacion del HTML con el userList.css -->
        <link rel="stylesheet" href="/css/edit.css"> <!-- vinculacion del HTML con el edit.css -->
        <link rel="stylesheet" href="/css/register.css"> <!-- vinculacion del HTML con el register.css -->
        <script src="https://kit.fontawesome.com/d4ee5988c7.js" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> 
    </head>