<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<body>

<%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

<form action="/home.html" method="POST" class="formularioLog">
    <div class="inicioSesion">
    <h2>INICIAR SESIÓN</h2>
    </div>

    <div class="control-formulario">
    <label for="nombreUsuario">Correo Electrónico</label>
    <input type="text" name="nombreUsuario" id="nombreUsuario" class="control-especifico">
    </div>
    
    <div class="control-formulario">
    <label for="contraseña">Contraseña</label>
    <input type="password" name="contraseña" id="contraseña" class="control-especifico">
    </div>
  
    <br>
    <div class="olvido">
        <a href="">¿Olvidaste tu contraseña?</a>
    </div>
    <br>
    <div class="botonDeLogin">
    <button type="submit" class="botonIngresar"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
    </div>
        
    <div class="loginFacebook">
    <button type="submit" class="botonFace"><i class="fab fa-facebook"></i> | Ingresar con Facebook</button>
    </div>

    <div class="loginGoogle">
    <button type="submit" class="botonGoogle"><i class="fab fa-google"></i> | Ingresar con Google</button>
    </div>

    <div class="crearCuenta">
    <a href="/users/register"><button type="button" class= "botonCreaTuCuenta"><i class="fas fa-user-plus"></i> | Crea tu cuenta</button></a>
    </div>
    </form>

<%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER y se usan los .. (dos puntos) para que salga de la carpeta user y vaya a partials -->

</body>
</html>